@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	background-color: var(--gray-900);
}

h1,
p,
li {
	color: var(--white);
	font-family: "Inter", sans-serif;
	margin: 0px;
	text-align: center;
}


.content {
	display: grid;
	height: 100dvh;
	place-content: center center;
}

.card {
	background-color: var(--gray-800);
	border-radius: 20px;
	box-sizing: border-box;
	display: grid;
	margin-inline: 24px;
	min-width: 327px;
	padding: 40px;

	img {
		border-radius: 50%;
		justify-self: center;
	}

	header {
		display: grid;
		font-weight: 600;
		margin-top: 28px;
		row-gap: 16px;

		p {
			color: var(--green);
			font-size: 14px;
		}
	}

	>p {
		color: hsl(from var(--white) h s l / 50%);
		margin-top: 32px;
		font-size: 14px;

		@media(max-width: var(--max-mobile-width)) {
			font-size: 12px;
		}
	}

	ul {
		list-style-type: none;
		display: grid;
		margin: 28px 0px 0px 0px;
		padding: 0px;
		row-gap: 16px;

		li {
			background-color: var(--gray-700);
			border-radius: 8px;
			width: 100%;

			&:hover {
				background-color: var(--green);
			}

			a {
				color: var(--white);
				display: block;
				font-size: 14px;
				font-weight: 700;
				text-decoration: none;
				padding-block: 16px;
				width: 100%;

				&:hover {
					color: var(--gray-700);
				}
			}
		}

	}

}
