@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.content {
    background-color: var(--yellow);
    display: grid;
    height: 100dvh;
    place-content: center center;
}

.card {
    background-color: var(--white);
}
